.chat-window {
    border-radius: 5px;
    min-height: 600px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-message-row {
    /* border: 1px solid rgb(118, 2, 110); */
    padding: 8px 6px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 16px;
}

.received-message {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.sent-message {
    justify-content: flex-end;
    flex-direction: row;
}

.chat-message-row .chat-message-text {
    min-height: 24px;
    border-radius: 3px;
    padding: 6px;
    width: 40%;
    border: 1px solid #ddd;
    /* text-align: center; */
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}
.chat-message-text::after {
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    border: 1px solid #ddd;
    transform: rotate(45deg);
    z-index: 80;
    top: calc(50% - 5px);
}

.received-message .chat-message-text {
    background-color: #ddd;
}

.sent-message .chat-message-text {
    background-color: #434343;
    color: white;
}

.sent-message .chat-message-text::after {
    border: 1px solid #434343;
    border-left: none;
    border-bottom: none;
    right: -6px;
}

.received-message .chat-message-text::after {
    left: -6px;
    border-right: none;
    border-top: none;
}

.chat-message-row .chat-message-sender {
    /* max-height: 30px; */
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: rgb(141, 92, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}